body{
    background-image: url(img/background_spp.jpeg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container_spp{
    color:white;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.spp_logo{
    width: 100px;
}


.title_spp{
    font-family: 'Dela Gothic One', cursive;
    text-decoration: underline yellow;
}

.ro_regiment{
    font-family: 'Dela Gothic One', cursive;
    padding-left: 20px;
    font-weight: 200;
    color: red;
    vertical-align: -webkit-baseline-middle;
}

@media screen and (max-width:480px){
    .title_spp{
      font-size: 14px;
    }

    .spp_logo{
        width: 30%;
    }
}

/* main parth */

.container_row_1{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.img_container{
    border: solid 1px rgba(65, 74, 122, 0.493);
    margin: 0px 5px;
     padding:0px 8px;
     max-width: 200px;
     flex-basis: 100px;
     flex-grow: 1;
     flex-shrink: 0;
}

.img_style{
    width: 100%;
}