body{
    background-image: url(image.spp/background_spp.jpeg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container_spp{
    color:white;
    width: 90%;
    margin: auto;
    border: 2px solid red;
    border-radius: 10px;
}



